@import url('https://fonts.googleapis.com/css?family=Raleway');

.container {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    position: relative;
}
#warningbar{
  background-color: white;
  width:100%;
}

#viscontainer {
  width: 95%;
  height: 67%;
  margin: 0px;
  padding: 0px;
  border-width:1px;  
  border-style:solid;
  border-color:#080808; 
    align-items: center;
    justify-content: center;
    position: absolute;
}
#viscontainer1 {
  width: 48%;
  height: 70%;
  margin: 0px;
  padding: 0px;
  border-width:1px;  
  border-style:solid;
  border-color:#080808; 
  float: left;
  position: relative;
  top: 5%;
}
#viscontainer2 {
  width: 48%;
  height: 70%;
  margin: 0px;
  padding: 0px;
  float: right;
  border-width:1px;  
  border-style:solid;
  border-color:#080808; 
  position: relative;
  right: 1%;
  top: 5%;
 
}
#beforesidebyside{
  width: 4%;
  height: 20px;
  border-width: 1px;
  border-style: solid;
  border-color: #080808;
  align-items: center;
  justify-content: center;
  position: relative;
  left: 20%;
  top: 4%;
}
#aftersidebyside{
  width:50px;
  height: 20px;
    border-width:1px;  
  border-style:solid;
  border-color:#080808;
  align-items: center;
    justify-content: center;
    position: absolute;
    left: 70%;
}
#currentvis{
  width: 12%;
  height: 20px;
  border-width: 1px;
  border-style: solid;
  border-color: #080808;
  align-items: center;
  justify-content: center;
  position: relative;
  left: 20%;
}

#questionbar {
  width: 95%;
  height: 20%;
  margin: 0px;
  padding: 0px;
  border-width:1px;  
  border-style:solid;
  border-color:#080808; 
    align-items: center;
    justify-content: center;
    position: relative;
}
#questionbar2 {
  width: 99%;
  height: 16%;
  margin: 0px;
  padding: 0px;
  border-width:1px;  
  border-style:solid;
  border-color:#080808; 
    align-items: center;
    justify-content: center;
    position: relative;
    top: 82%;
}
.questionbar2 {
    width: 95%;
  height: 17%;
  margin: 0px;
  padding: 0px;
  border-width:1px;  
  border-style:solid;
  border-color:#080808; 
    align-items: center;
    justify-content: center;
    position: relative;
    top: 76%;
}
#questionbar {
  width: 95%;
  height: 20%;
  margin: 0px;
  padding: 0px;
  border-width:1px;  
  border-style:solid;
  border-color:#080808; 
    align-items: center;
    justify-content: center;
    position: relative;
}
#questionparagraph{
  width: 100%;
  height: 50%;
  margin-bottom: 200px;
  padding: 0px;
    align-items: center;
    justify-content: center;
    position: relative;

}
#buttonsbar{
  width: 95%;
  height: 10%;
  margin: 0px;
  padding: 0px;
  align-items: center;
  justify-content: center;
  position: relative;
  top: 68%;
}
.questionbarAnim{
  width: 95%;
  height: 17%;
  margin: 0px;
  padding: 0px;
  border-width:1px;  
  border-style:solid;
  border-color:#080808; 
    align-items: center;
    justify-content: center;
    position: relative;
    top: 66%;

}
.animatebutton{
  padding: 15px 32px;
  text-align: center;
  display: inline-block;
  font-size: 15px;
  position: relative;
  left: 40%;
}
#viscontainerafter{
  width: 55%;
  height:75%;
  float: left;
  margin: 0px; 
  padding: 0px;
 /*  border-width:3px;
  border-color:#080808;
  border-style:solid;*/
  position: absolute;

}
#diffshow{
  width: 43%;
  height: 75%;
  float: right;
  margin: 0px;
  padding: 0px;
  position: absolute;
  left: 55%;
}
#beforesmalldiff{
 width: 4%;
 height: 20px;
 border-width: 1px;
 border-style: solid;
 float: left;
 border-color: #080808;
 align-items: center;
 justify-content: center;
 position: relative;
 left: 65%;
 bottom: 3%;

}
#aftersmalldiff{
  width:3%;
  height: 20px;
  border-width:1px;  
  border-style:solid;
  float: right;
  border-color:#080808;
  align-items: center;
  justify-content: center;
  position: relative;
  right: 10%;
  bottom: 3%;
}
#beforediff{
  width: 49%;
  height: 95%;
  float: left;
  /*border-width:3px;  
  border-style:solid;
  border-color:#080808;*/

  position: absolute;
  left: 5%;
  top: 8%;

}
#afterdiff{
  width: 49%;
  height: 95%;
  float: right;
   /* border-width:3px;  
  border-style:solid;
  border-color:#080808;*/
  position: absolute;
  left: 55%;
  top: 8%;

}
#choices{
  width: 70%;
  height:30%;
  position: absolute;
    left:0;
    z-index:1;
    top: 18%;

}

#submitbuttondiv{
  width: 30%;
  height: 10%;
    position: absolute;
    left:0;
    top: 75%;
      align-items: center;
    justify-content: center;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    width: 270.8px;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}

.node circle {
  fill: #f6e8c3;
  stroke: black;
  stroke-width: 1px;
}

.node text { font: 12px sans-serif; }


.link {
  fill: none;
  stroke: #006699;
  stroke-width: 2px;
}
.dashedlink{
  fill: none;
    stroke: #006699;
    stroke-width: 2px;
    stroke-dasharray: 20,10,5,5,5,10;
}
rect {
  fill: white;
  opacity: 0.3;
  stroke: black;
}
text {
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  fill: black;
  font-size: 10px;
}

body {
  font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.slice {
    cursor: pointer;
}

.slice .main-arc {
    stroke: #000000;
    stroke-width: 1px;
}

.slice .hidden-arc {
    fill: none;
}

.slice text {
    pointer-events: none;
    dominant-baseline: middle;
    text-anchor: middle;
}
#startdots {
  position: relative;
  width: 3px;
  height: 3px;
  background-color: black;
  border-radius: 50%;
}

#startdots:before, #startdots:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0px;
  background-color: inherit;
  border-radius: inherit;
  }

#startdots:before {
  top: 8px;
  }


#startdots:after {
  top: 16px;
}
#startdots2 {
  position: relative;
  width: 3px;
  height: 3px;
  background-color: black;
  border-radius: 50%;

}

#startdots2:before, #startdots2:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0px;
  background-color: inherit;
  border-radius: inherit;
  }

#startdots2:before {
  top: 8px;
  }


#startdots2:after {
  top: 16px;
}