@import url('https://fonts.googleapis.com/css?family=Raleway');

.container {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    position: relative;
}
.container2 {
    width: 100%;
    height: 95%;
    margin: 0px;
    padding: 0px;
    position: relative;
}
#warningbar{
  background-color: white;
  width:100%;
}

#viscontainer {
  width: 95%;
  height: 67%;
  margin: 0px;
  padding: 0px;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 2%;
}
#viscontainer1 {
  width: 48%;
  height: 70%;
  margin: 0px;
  padding: 0px;
  float: left;
  position: relative;
  top: 5%;
  left: 1%;
}
#viscontainer2 {
  width: 48%;
  height: 70%;
  margin: 0px;
  padding: 0px;
  float: right;
  position: relative;
  right: 1%;
  top: 5%;

 
}
.headers{
  width: 100%;
  height: 3%;
  align-items: center;
  justify-content: center;
  position: relative;

}
#beforesidebyside{
  width: 100px;
 height: 30px;
 border-width: 1px;
 border-style: solid;
 float: left;
 border-color: #080808;
 align-items: center;
 justify-content: center;
 position: relative;
  left: 23%;
  top: 90%;
 
}
#beforesidebyside h4{
   margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%)
  }
#aftersidebyside{
   width: 100px;
 height: 30px;
 border-width: 1px;
 border-style: solid;
 border-color: #080808;
 align-items: center;
 justify-content: center;
position: relative;
float: right;
right: 23%;
top: 90%;
}
#aftersidebyside h4{
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%)
}
#currentvis{
  width: 10%;
  height: 30px;
  border-width: 1px;
  border-style: solid;
  border-color: #080808;
  align-items: center;
  justify-content: center;
  position: relative;
  float: left;
  left: 10%;
}

#currentvis h4{
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%)
}
#beforesmalldiff h4{
   margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%)
  }
#aftersmalldiff h4{
 margin: 0;
position: absolute;
top: 50%;
left: 50%;
margin-right: -50%;
transform: translate(-50%, -50%)
}
#beforesmalldiff{
 width: 5%;
 height: 30px;
 border-width: 1px;
 border-style: solid;
 float: left;
 border-color: #080808;
 align-items: center;
 justify-content: center;
 position: relative;
 left: 40%;

}
#aftersmalldiff{
  width:5%;
  height: 30px;
  border-width:1px;  
  border-style:solid;
  float: left;
  border-color:#080808;
  align-items: center;
  justify-content: center;
  position: relative;
  left: 60%;
}
.questionbar2 {
 width: 95%;
  height: 17%;
  margin: 0px;
  padding: 0px; 
  align-items: center;
  justify-content: center;
  position: relative;
  bottom: 14%;
  left: 2%;
}
#buttonsbar{
  width: 95%;
  height: 10%;
  margin: 0px;
  padding: 0px;
  align-items: center;
  justify-content: center;
  position: relative;
  top: 68%;
}
.questionbarAnim{
  width: 95%;
  height: 17%;
  margin: 0px;
  padding: 0px; 
  align-items: center;
  justify-content: center;
  position: relative;
  top: 60%;
  left: 2%;

}
.questionbar{
  width: 95%;
  height: 17%;
  margin: 0px;
  padding: 0px; 
  align-items: center;
  justify-content: center;
  position: relative;
  top: 5%;
  left: 2%;
}
.animatebutton{

  text-align: center;
  position: relative;
}
.diffcontainer{
  width: 100%;
  height: 75%;
  position: relative;
}
#viscontainerafter{
  width: 40%;
  height:75%;
  margin: 0px; 
  padding: 0px;
 /*  border-width:3px;
  border-color:#080808;
  border-style:solid;*/
  position: relative;
  float: left;
  left: 0;
}
#DiffDescription{
  width: 95%;
  height: 30px;
  position: relative;
}

#beforediff{
  width: 25%;
  height: 75%;
 position: relative;
 float: left;

}
#afterdiff{
  width: 25%;
  height: 75%;
  position: relative;
  float: left;
}
.col-xs-2 {
     width: 150px;
}
#textpart{
   width: 150px;
  height:30%;
  position: relative;
    z-index:1;

}
.choices{
width: 100px;
 height:20%;
  position: relative;
  float: right;
  bottom: 20%;
  right: 87%;
}
.choices2{
width: 100px;
 height:20%;
  position: relative;
  float: right;
  right: 87%;
  top: 7%;
}
.choices3{
width: 100px;
 height:20%;
  position: relative;
  float: right;
  right: 87%;
  bottom: 20%;
}
li {list-style-type: none;
font-size: 16pt;
}
.rq {
color: #FF0000;
font-size: 10pt;
}
#submitbuttondiv{
  width: 30%;
  height: 10%;
    position: relative;
    left:0;
    top: 60%;
      align-items: center;
    justify-content: center;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    width: 270.8px;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}

.node circle {
  fill: #f6e8c3;
  stroke: black;
  stroke-width: 1px;
}

.node text { font: 16px sans-serif; }


.link {
  fill: none;
  stroke: #006699;
  stroke-width: 2px;
}
.dashedlink{
  fill: none;
    stroke: #006699;
    stroke-width: 2px;
    stroke-dasharray: 20,10,5,5,5,10;
}
rect {
  fill: white;
  opacity: 0.3;
  stroke: black;
}
text {
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  fill: black;
  font-size: 12px;
}

body {
  font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.slice {
    cursor: pointer;
}

.slice .main-arc {
    stroke: #000000;
    stroke-width: 1px;
}

.slice .hidden-arc {
    fill: none;
}

.slice text {
    pointer-events: none;
    dominant-baseline: middle;
    text-anchor: middle;
}
#startdots {
  position: relative;
  width: 3px;
  height: 3px;
  background-color: black;
  border-radius: 50%;
}

#startdots:before, #startdots:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0px;
  background-color: inherit;
  border-radius: inherit;
  }

#startdots:before {
  top: 8px;
  }


#startdots:after {
  top: 16px;
}
#startdots2 {
  position: relative;
  width: 3px;
  height: 3px;
  background-color: black;
  border-radius: 50%;

}

#startdots2:before, #startdots2:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0px;
  background-color: inherit;
  border-radius: inherit;
  }

#startdots2:before {
  top: 8px;
  }


#startdots2:after {
  top: 16px;
}
#Sstartdots {
  position: relative;
  width: 3px;
  height: 3px;
  background-color: black;
  border-radius: 50%;
}

#Sstartdots:before, #Sstartdots:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0px;
  background-color: inherit;
  border-radius: inherit;
  }

#Sstartdots:before {
  top: 8px;
  }


#Sstartdots:after {
  top: 16px;
}
#Sstartdots2 {
  position: relative;
  width: 3px;
  height: 3px;
  background-color: black;
  border-radius: 50%;

}

#Sstartdots2:before, #Sstartdots2:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0px;
  background-color: inherit;
  border-radius: inherit;
  }

#Sstartdots2:before {
  top: 8px;
  }


#Sstartdots2:after {
  top: 16px;
}