body {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 16pt;
    color: #767676;
    margin-left: 4%;
    width: 75%;

}
.upperdescription{
	width: 730px;
	vertical-align: top;
	align-items: center;

}
.descriptionleft{
	width: 350px;
    margin-right: 45px;
    float: left;

}
.rightcol{
	width: 1000px;
    float: left;
}
tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}
td.body_single {
    width: 730px;
    vertical-align: top;
    background-image: url(images/bg1.jpg);
}


